
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#pixi-content {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}


h1 {
	font-size: 10vw;
	color: #ffc107;
	margin: 30px;
}

.z-text {
  transform: rotateX(30deg) rotateY(-30deg);
  transition: transform 1s;
}

[data-z]:hover .z-text {
  transform: rotateX(-30deg) rotateY(30deg)
}

.z-layer:not(:first-child) {
	color: #bf9105;
}